<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
            rel="stylesheet"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        fontFamily: {
                            sans: ['Open Sans', 'sans-serif'],
                        },
                    },
                },
            }
        </script>
        <title>{{.OrderStatusHtml}}</title>
    </head>
    <body>
        <div class="w-[765px] font-sans">
            <div class="w-full h-full m-auto p-3">
                <div class="relative border-2 border-black px-2 py-2">
									<div class="relative border-b-[1px] border-gray-400 px-2 py-2">
										<div class="flex justify-between items-start">
									<span class="font-bold text-xl"
                    >{{.OrderStatusHtml}} Nº {{.order.number}}</span
                >
									<img src={{.tenant.logo_url}} alt="logo" class="w-[100px] absolute top-0 right-0 m-t-1 mr-1" />
								</div>
                <div class="flex justify-center items-center flex-col mt-2 space-y-2">
                    <span class="font-bold text-xl">{{.tenant.name}} - {{.tenant.cnpj}} </span>


                    <span class="font-bold text-lg"
                        >Tel: {{.seller.phone}} - Email: {{.seller.email}}</span
                    >
										<span class="font-bold text-lg"> Vendedor: {{.seller.name}}</span>

                </div>
									</div>
                <div class="flex justify-between mt-5 text-xs">
                    <div class="flex flex-col space-y-1 w-[50%]">
                        <span>Cliente: {{.customer.name}}</span>
                        <span>CNPJ: {{.customer.cnpj}}</span>
                        <span>Endereco: {{.customer.street}}</span>
                        <span>Cidade: {{.customer.city}}</span>
                        <span>Tel: {{.customer.phone}}</span>
                        <span>Email: {{.customer.email}}</span>
                        <span>Comprador: {{.order.buyer}}</span>
                    </div>
                    <div class="flex flex-col space-y-1 w-[230px]">
                        <span>Data do Pedido: {{.order.contact_date}}</span>
                        <span>Data do Orcamento: {{.order.created_at}}</span>
                        <span>Validade: {{.order.expired_at}}</span>

                        <span>IE: {{.customer.ie}}</span>
                        <span>Cep: {{.customer.zip_code}}</span>
                        <span>Estado: {{.customer.state}}</span>
                        <span>N. Fantasia: {{.customer.fantasy_name}}</span>
                    </div>
                </div>
								</div>
								<div class="mt-2">
									<span>Produtos</span>
								</div>
                <table class="w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border border-black px-1 py-2 text-xs">Item</th>
                            <th class="border border-black px-1 py-2 text-xs">Cod.</th>
                            <th class="border border-black px-1 py-2 text-xs">Descrição</th>

														<th class="border border-black px-1 py-2 text-xs">
                                Quantidade
                            </th>
                            <th class="border border-black px-1 py-2 text-xs">
                                Valor Unit.
                            </th>
                            <th class="border border-black px-1 py-2 text-xs">
                                Desc
                            </th>
                            <th class="border border-black px-1 py-2 text-xs">
                                Preco Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
											{{range .products}}
                        <tr class="bg-white">
														<td class="border border-black w-[160px] py-1 text-[1rem]">
																<div class="flex justify-start items-start ml-[5px]">
																	{{.name}}
																</div>
                            </td>
                            <td class="border border-black p-1 text-[1rem]">
                                {{.code}}
                            </td>
                            <td class="border border-black p-1 text-[1rem]">
                                {{.description}}
                            </td>
                            <td class="border border-black p-1 text-[1rem]">
                                {{.quantity}}
                            </td>
                            <td class="border border-black p-1 text-[1rem]">
                                R$ {{.price}}
                            </td>

                            <td class="border border-black p-1 text-[1rem]">
                                {{.discount}} %
                            </td>
                            <td class="border border-black w-[140px] py-1 text-[1rem]">
																<div class="flex justify-end items-end mr-[5px]">
																	R$ {{.total}}
																</div>
                            </td>
                        </tr>
												{{end}}
												<tr class="text-xs">
													<td class="text-[1rem] p-0" colspan="7">
															<div class="flex items-end justify-end">
																<div class="border-b border-l border-r border-black py-1 w-[255px] flex items-end justify-end px-1 font-bold">
																	Total Produtos: R${{.order.total_products}}
																</div>
															</div>
													</td>
												</tr>
                    </tbody>

                </table>
								<span>Servicos</span>
								<br>
								<table class="w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border border-black px-1 py-2 text-xs">Item</th>
                            <th class="border border-black px-1 py-2 text-xs">Cod.</th>
                            <th class="border border-black px-1 py-2 text-xs">Descrição</th>

														<th class="border border-black px-1 py-2 text-xs">
                                Quantidade
                            </th>
                            <th class="border border-black px-1 py-2 text-xs">
                                Valor Unit.
                            </th>
                            <th class="border border-black px-1 py-2 text-xs">
                                Desc
                            </th>
                            <th class="border border-black px-1 py-2 text-xs">
                                Preco Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
											{{range .services}}
                        <tr class="bg-white">
														<td class="border border-black w-[160px] py-1 text-[1rem]">
																<div class="flex justify-start items-start ml-[5px]">
																	{{.name}}
																</div>
                            </td>
                            <td class="border border-black p-1 text-[1rem]">
                                {{.code}}
                            </td>
                            <td class="border border-black p-1 text-[1rem]">
                                {{.description}}
                            </td>
                            <td class="border border-black p-1 text-[1rem]">
                                {{.quantity}}
                            </td>
                            <td class="border border-black p-1 text-[1rem]">
                                R$ {{.price}}
                            </td>

                            <td class="border border-black p-1 text-[1rem]">
                                {{.discount}} %
                            </td>
                            <td class="border border-black w-[140px] py-1 text-[1rem]">
																<div class="flex justify-end items-end mr-[5px]">
																	R$ {{.total}}
																</div>
                            </td>
                        </tr>
												{{end}}
												<tr class="text-xs">
													<td class="text-[1rem] p-0" colspan="7">
															<div class="flex items-end justify-end">
																<div class="border-b border-l border-r border-black py-1 w-[255px] flex items-end justify-end px-1 font-bold">
																	Total Produtos: R${{.order.total_services}}
																</div>
															</div>
													</td>
												</tr>
                    </tbody>
                </table>
										<span>F. de Pagamento: {{.order.payment_form}}</span>
									<br>
									<div class="max-w-[400px] text-align text-xs">
										<span>Observação: <strong>{{.order.observation}}</strong></span>
									</div>
                <div class="flex mt-5 justify-end items-end mr-10">
                    <span class="font-bold text-xl"
                        >Total Geral: R${{.order.total}} </span>

                </div>
            </div>
        </div>
    </body>
</html>
